<nav class="bg-main-color3 h-25 shadow-[0_0px_30px_rgba(0,0,0,0.07)]">
    <div
        class="mx-auto flex items-center justify-between"
        style="max-width: 1240px"
    >
        <div class="logo">
            <img src="/src/assets/images/logov2.png" alt="LUMA Clinic Logo" />
        </div>
        <ul class="text-secondary-color1 flex items-center gap-4 text-xl">
            <li><a href="/Hair-Web/index.html" class="px-4" data-page="home">Home</a></li>
            <li>
                <a href="/Hair-Web/about/index.html" class="px-4" data-page="about">About Us</a>
            </li>
            <li>
                <a href="/Hair-Web/services/index.html" class="px-4" data-page="services"
                    >Our Services</a
                >
            </li>
            <li>
                <a href="/Hair-Web/contact/index.html" class="px-4" data-page="contact"
                    >Contact Us</a
                >
            </li>
            <li>
                <a
                    href="/Hair-Web/contact/index.html"
                    class="bg-main-use text-main-color3 rounded-[10px] px-9 py-2.5"
                >
                    Book Consultation
                </a>
            </li>
        </ul>
    </div>
</nav>
